<div id="bike-section-title" class="card-header text-center">
  <h1>{{stepstitle[currentstep]}}</h1>
</div>
<div id="bike-section-content" class="px-2 text-center text-sm-left">

<div class="container-fluid py-3">

<div class="card ">
  <div class="card-body">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let item of stepsdata[stepstitle[currentstep]]">
          <td>{{item.$key}}</td>
          <td>€ {{item["price"]}}</td>
          <td>More info</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

</div>
</div>

<div id="bike-navigation">
  <div class="card-footer text-muted">
    <a (click)="back()" class="btn btn-primary float-left">Back</a>
    <a id="nextbutton" (click)="next()" class="btn btn-primary float-right">Next</a>
  </div>
</div>
