<div id="bike-section-title" class="card-header text-center">
  <h1>{{stepstitle[currentstep]}}</h1>
</div>
<div id="bike-section-content" class="container-fluid text-center text-sm-left">

<div class="row" [class.itemselected]="isActive(item.$key)"  (click)="checkItem(item.$key, item['price'],item['about'])" *ngFor="let item of stepsdata[stepstitle[currentstep]]">
  <div class="col-sm-6">{{item.$key}}</div>
  <div class="col-sm-3"><span *ngIf="item['price']">+€ {{item["price"]}}</span></div>
  <div class="col-sm-3"><abbr title="{{item['about']}}">More+</abbr></div>
</div>
</div>


<!--
  <div class="py-3">

    <div class="card">
      <div class="card-body p-1">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of steps[currentstep]">
              <td>{{item.$key}}</td>
              <td>£200</td>
              <td>More info</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


  </div>-->

</div>

<div id="bike-navigation" class="container-fluid">
  <div class="row">
    <div class="col-5">
      <button (click)="back()" type="button" class="btn btn-outline-primary"><i class="fas fa-angle-left"></i> Back</button>
    </div>
    <div class="col-2 text-center"><p class="lead">£213132</p></div>
    <div class="col-5 text-right">
        <button id="nextbutton" (click)="next()" type="button" class="btn btn-outline-primary">Next <i class="fas fa-angle-right"></i></button>

    </div>
  </div>
</div>
