
<div class="row">
  <div class="col-sm-6">Riserbar</div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3">More info</div>
</div>
<div class="row">
  <div class="col-sm-6">Flatbar this is a motherfucking long text</div>
  <div class="col-sm-3">+€25.00</div>
  <div class="col-sm-3">More info</div>
</div>
<div class="row">
  <div class="col-sm-6">Flatbar</div>
  <div class="col-sm-3">+€25.00</div>
  <div class="col-sm-3">More info</div>
</div>
<div class="row">
  <div class="col-sm-6">Flatbar</div>
  <div class="col-sm-3">+€25.00</div>
  <div class="col-sm-3">More info</div>
</div>
<div class="row">
  <div class="col-sm-6">Flatbar</div>
  <div class="col-sm-3">+€25.00</div>
  <div class="col-sm-3">More info</div>
</div>
