
<div id="progress-container">
  <div class="progress-item">
    <div class="rounded-circle progress-icon"></div>
    <p class="progress-name lead">Bike this is a long</p>
  </div>
  <div class="progress-bar"></div>
  <div class="progress-item">
    <div class="rounded-circle progress-icon"></div>
    <p class="progress-name lead">Bike</p>
  </div>
  <div class="progress-bar"></div>
  <div class="progress-item">
    <div class="rounded-circle progress-icon"></div>
    <p class="progress-name lead">test sen</p>
  </div>

  {{progressItem}}
</div>
