<!--<div class="container">
  <div class="row">
    <div *ngFor="let type of types" class="col-md-4  py-2 my-2">
      <div class="row m-1 p-1 border border-secondary rounded">
        <div><img src="{{type.Information.image}}" alt=""></div>
        <div class="col-12 pt-2"><h2 class="lead">{{type.$key}}</h2></div>
        <div class="col-12 pb-2">{{type.Information.about}}</div>
        <div class="col-12 py-2">
          <button routerLink="/builder/{{type.$key}}" type="button" class="btn btn-outline-success">Go to the builder <i class="fas fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="container-fluid slidecontainer">
  <div
    *ngFor="let type of types; let i = index"
    class="slide"
    [ngStyle]="{marginLeft: i * 100 + 'vw'}"
    >
    <div class="slide-img">
      <img src="{{type.Information.image}}" alt="">
    </div>
    <div class="slide-info" >
      <div class="container">



        <div class="row">
          <div class="col-md-8">
            <h2>{{type.$key}}</h2>
            <p class="lead">{{type.Information.about}}</p>
          </div>
          <div class="<col-md-4></col-md-4> text-center">
            <button routerLink="/builder/{{type.$key}}" type="button" class="btn btn-outline-primary">To the builder <i class="fas fa-angle-right"></i></button>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container-fluid control-button">
    <div class="row">
      <div class="col-2 text-center">
        <button (click)="slideBack()" type="button" class="btn btn-outline-primary"><i class="fas fa-angle-left"></i> Previous</button>
      </div>
      <div class="col-8 text-center slide-select" >
        <div class="slide-selection-object"
        *ngFor="let type of types; let i = index" (click)="selectSlide(i)">
          <div class="slide-icon"></div>
          <div class="slide-name">{{type.$key}}</div>
        </div>

      </div>
      <div class="col-2 text-center">
        <button (click)="slideNext()" type="button" class="btn btn-outline-primary">Next <i class="fas fa-angle-right"></i></button>
      </div>
    </div>



  </div>
</div>
