<app-header></app-header>

<div class="container" id="shopping">
  <h1 class="my-4">Shopping Cart</h1>

  <div class="row my-2 d-none d-md-flex bg-op-info">
    <div class="col-md-4"><b>Bike type: {{type}}</b></div>
    <div class="col-md-6">
      <h5 class="my-1">Quantity</h5>

    </div>
    <div class="col-md-2"><h5 class="my-1">Price</h5></div>
  </div>

  <div *ngIf="basket.length <= 0">You did not select any item during the building process. Click on go to shopping button to start again.</div>

  <div class="row shopping-item" *ngFor="let item of basket">
    <div class="col-md-4"><p class="lead">{{ item.name }}</p></div>
    <div class="col-md-6">

      <div class="row text-center">
        <!--change value accordingly to amount in array-->
        <div class="col-sm-4">
          <p class="d-block d-sm-none p-quantity">Quantity: </p> <input type="number" class="form-control number" value="1">
        </div>
        <div class="col-sm-4 divide-half-col">
          <button type="button" (click)="deleteItem(item.name)" class="btn btn-outline-danger"><i class="far fa-times-circle"></i> Remove</button>
        </div>
        <div class="col-sm-4 divide-half-col">
          <abbr title="{{item.detail}}">Detail</abbr>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-right bg-op-price"><p class="d-block d-md-none p-quantity">Price: </p><p>+€{{ item.price }}</p></div>
  </div>


  <div class="row mt-2 py-2 border-top border-bottom border-op-info">
    <div class="col-md-8 d-none d-md-block"></div>
    <div class="col-md-2 text-center divide-half-col">
      <p>Total Price:</p>
    </div>
    <div class="col-md-2  text-center text-sm-right divide-half-col">
      <p>+€{{total}}</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-6 text-center  text-sm-left">
      <button type="button" (click)="backToShopping()" class="btn btn-outline-success"><i class="fas fa-long-arrow-alt-left"></i> Back to shopping</button>
    </div>
    <div class="col-sm-6 text-center text-sm-right">
      <button type="button" (click)="checkOut()" class="btn btn-outline-success">Checkout <i class="far fa-credit-card"></i></button>
    </div>
  </div>

</div>
