
#bike-display{
  height: calc(100vh - 40px - 6rem);
  min-height: 12.5rem;
  width: 100%;
  background: url(/assets/images/background/background-builder.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  /*relative makes the absoulte img children follow this container*/
  padding: 2rem;
}

@media (max-width: 991px) {

  #bike-display{
    height: auto;
    min-height: 6rem;

  }

}

@media (max-width: 600px) {

  #bike-display{
    padding: 1rem 0.6rem;

  }

}
