
<app-header></app-header>

<div class="container-fluid" id="bike-container">
  <div class="row">
    <div id="bike-display-container" class="col-lg-8 px-0">

      <app-livepreview id="bike-display" class="p-2"></app-livepreview>

      <div id="bike-progress">

        <app-progress></app-progress>

      </div>
    </div>
    <div id="bike-section-container" class="col-lg-4 px-0">
      <div id="bike-section" >
        <div id="bike-section-title" class="text-center">
          <h1>Customize</h1>
        </div>
        <div id="bike-section-content" class="px-2 text-center text-sm-left">

          <div class="container-fluid py-3  ">


          <app-control></app-control>


          </div>


        </div>
      </div>

      <div id="bike-navigation">

      </div>
    </div>
  </div>

</div>
