#bike-container{
  /*navbar got 40px height and 1rem padding hence this*/
  padding-top: 40px;
  margin-top: 1rem;
}

#bike-display{

  width: 100%;
  background: url(http://livingwod.wdfiles.com/local--files/pccontrolled:businesses/factory_heavy_industry_by_fil3d-d327zk5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  /*relative makes the absoulte img children follow this container*/

}