
#bike-display{
  height: calc(100vh - 40px - 6rem);
  min-height: 12.5rem;
  width: 100%;
  background: url(http://livingwod.wdfiles.com/local--files/pccontrolled:businesses/factory_heavy_industry_by_fil3d-d327zk5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  /*relative makes the absoulte img children follow this container*/

}

@media (max-width: 991px) {

  #bike-display{
    height: 100px;

  }

}
